/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

/* utilities */

.flex {
   display: flex;
   
    
}

.center {
    padding-top: 50px;
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
}

body {
    background-color: black;
}

.posizione {
    position: relative;
}

main {
    height: calc(100% - 70px);
    overflow: auto;
}

.menu {
    left: 0;
    bottom: 0;
    background-color: rgb(24, 24, 24);
    height: 70px;
    width: 100%;
    z-index: 999;
    display: flex;
}

.immagine {
    width: 150px;
    height: 100px;
    padding-right: 5px;
    padding-top: 5px;

}

.nome {
    color: white;
    position: absolute;
    padding: .5rem;
    background-color: lightgray;
    bottom: 0;
    left: 0;
    opacity: .5;
}

.lista {
    display: flex;
    flex-direction: row;
    
}

.centro {
    display: inline-block;
}

.dx {
    justify-content: flex-start;
}

.azioni {
align-items: center;
}

h4 {
    width: 30%;
    color: red;
    justify-content: flex-end;
}