/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

/* HEADER */
.header {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}
.speaker-view {
    border-radius: 5px;
    background-color: darkgray;
    color: white;
    padding: 6px;
}    

.icon {
    margin-left: 1rem;
    background-color: darkgray;
    color: white;
    border-radius: 5px;
    padding: 6px;
}


/*MAIN*/

img {
    max-width: 100%;
    width: 150px;
    padding: .2rem;
  
}

body {
    background-color: black;     
}

.center {
    height: 80vh;
    display: flex;
    padding-top: 50px;
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    
}

.name {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

}

/*FOOTER*/
.menu {
    background-color: rgb(24, 24, 24);
    height: 80px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.middle i,
.start i {
    color: white;
    padding-left: 1rem;
}

h4 {
    color: red;
    padding-right: 1rem;
    
}
